/* Login page styles */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form h1 {
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0069d9;
}

.choose-container {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.welcome-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.welcome-user p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard button,
.materials button,
.home button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard button:hover,
.materials button:hover,
.home button:hover {
  background-color: #0069d9;
}
.hint{
  color: red;
  font-weight: 900;
}
.hint span{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  
}