.wrapper
{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.containerr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: center;
  border-radius: 6px;
  margin: -8% 0px 0 0;
}

.Main-Mobile {
  background: repeating-linear-gradient(99deg, #1976d2, transparent 850px);
  margin: 10% 0 10px 0;
  width: 60%;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
}

.Main-Mobile h2 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.Main-Mobile input:not(.option-container,.btn) {
  width: 60%;
  height: 40px;
  margin: 3% 5%;
  border-radius: 5px;
  color: black;
  box-sizing: border-box; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.option-container {
  width: 100%;
  height: 100%;
  margin: 3% 0;
}

.containerr label:not(.label-option) {
  font-weight: bold;
}

.containerr .btn{
  width: 40%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: #007bff 1px solid;
  margin: 5% 30%;
  background-color: #007bff;
  color: #fff;
  font-weight: 700;
}
.containerr .btn:hover {
  padding: 4px;
}

select {
  border: 2px solid blueviolet;
  /* margin-left: 2%; */
  border-radius: 6px;
  height: 35px;
  width: 50%;
  font-size: 12px;
  /* margin-top: 6%; */
}

select option {
  color: white;
  background: black;
  width: 40%;
  font-weight: 900;
}

@media (max-width: 768px) {
 .containerr {
    height: auto;
  }
 .Main-Mobile {
  width: 90%;
    flex-direction: column;
    margin: 5% 0;
  }
 .Main-Mobile input:not(.option-container,.btn) {
    margin: 2% 5%;
    width: 90%;
  }
 .containerr.btn {
    margin: 5% 15%;
  }
  select {
    width: 80%;
    margin-left: 10%;
  }
}