.Position-container {
  margin: 0 auto;
  background: repeating-linear-gradient(99deg,#1976d2, transparent 950px);
  border-radius: 2%;
  color: #fff;
  width: 60%;
}
.Position-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
.Position-container form div {
  margin-bottom: 20px;
}
.Position-container label {
  font-weight: bold;
}
.Position-container input,
.Position-container textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 3%;
}
.Position-container button {
  /* padding: 10px 20px; */
  width: 80%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin: 5% 10%;
}
.Position-container button:hover {
  background-color: #0056b3;
}
