
.Chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    box-sizing: border-box;
    width: 95%;
  }
  .Chart-container div:not(.Chart) 
  {
    box-shadow: 12px -1px 35px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    width: 45%;
  }

  .Chart {
    box-shadow: 12px -1px 35px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 300px;
  }
 
  
  .CloseButton {
    position: relative;
    z-index: 10;
  }
  
  @media (max-width: 768px) {
    .Chart-container {
      width: 100%;
    }
    .Chart-container .Chart {
      width: 90%;
    }
    .Chart-container div {
      width: 100% !important;
    }
    .Chart .date-labels {
      display: none; /* Hide date labels */
    }
  }
  
  
  